$pink: #c9699f; /* Eggplant */
$purple: #373258; /* Space Cadet */
$blue: #374877; /* Charcoal */
$teal: #3fbdae; /* Persian Green */
$green: #42a95b; /* Green Pigment */
$yellow: #e9c46a; /* Orange Yellow Crayola */
$orange: #f4a261; /* Sandy Brown */
$red: #d8544f; /* Burnt Sienna */
$black: #22242a; /* Raisin Black */
$brown: #382524; /* Raisin Black */
